 {% load staticfiles %}
<html>
        <head>
        	<div>
       		 <h1><title>Käayi</title></h1>
       		</div>

	             <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	             <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	             <link rel="stylesheet" href="{% static 'css/blog.css' %}">
	              <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>  
        </head>
              
        <body>
        <div class="page-header">

             <a href="{% url 'blog.views.post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> <h6>editame</h6></a>
             <a href="{% url 'blog.views.register' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span><h6>Regístrate</h6></a>
             <h1><a href="/"><strong>Hecho para ti </strong><h4>...pensando en ti</h4></a></h1>
             <br><a href="/blog/login/">Login</a>
             {% if user.is_authenticated %}
                <h6 class="top-menu">Bienvenido {{ user.username }}!</h6>
                {% else %}
                <h1>Rango says... hello world!</h1>
             {% endif %}
            
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        </body>

</html>